body {
  min-height: 80vh;
  }

  .white-block {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  .white-block h4,
  .white-block h5 {
    color: #333;
  }

  .features-list {
    margin-top:10px;
  }


  .card-product {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 20px;
  }


  .container {
    margin: 0 auto;
    text-align: left;
  }

  .container-fou {
    max-width: 70vw;
    margin: 0 auto;
  }

  .booking-details {
      background-color: #f9f9f9;
      margin: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 20px;
      border-radius: 5px;
      position: relative;
      p {
        font-size: 20px;
        font-weight: bold;
      }
  }

  .booking-link {
    color: #3498db;
  }

  .back-button {
      margin: 50px;
      padding: 0px;
      border-radius: 5px;
  }

  .booking-confirmation {
      background-color: #f9f9f9;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      margin: 50px;
      padding: 20px;
      border-radius: 5px;
      h4 {
        font-size: 24px;
        font-weight: bold;
        color:#2ecc71
      }
      h5 {
        font-size: 18px;
        color: #3498db;
      }
    }

    .my-bookings {
      background-color: white;
      margin: 50px;
      margin-bottom: 10px;
      padding: 20px;
      border-radius: 5px;
      h4 {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
      }
    }

    .action-booking {
      background-color: #ffea53;
      color: #fff;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      text-decoration: none;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .align-div {
      display: flex;
      align-items: flex-start;
    }

    .title-index {
      background-color: white;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 20px;
      border-radius: 5px;
      h4 {
        font-size: 24px;
        font-weight: bold;
      }
    }
