body {
  min-height: 80vh;
  }

.container {
  max-width: 1200px;
  margin-top: 100px;
  text-align: left;
}

.container-small {
  max-width: 1000px;
  margin-top: 100px;
  text-align: left;
  margin-left: 20px;
}

.container-large {
  max-width: 2000px;
  margin-top: 100px;
  text-align: left;
}

.container-fou {
  max-width: 70vw;
  margin: 0 auto;
}

.container-collection {
  text-align: center;
}

  .white-block {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  .white-block h4,
  .white-block h5 {
    color: #333;
  }

  .features-list {
    margin-top:10px;
  }


  .card-product {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-right: 20px;
    position: relative;
  }

  .card-product-infos {
    width: 1000px;
  }

  .machine-price {
    background-color: #ffea53;
    position: absolute;
    border-radius: 25px;
    color: black;
    text-align: justify;
    align-items: center;
    justify-content: center;
    bottom: 5px;
    right: 5px;
    font-weight:bold;
    font-size: small;
    padding:4px;
  }

  .description-content {
    width: 800px;
    margin: 10px;
  }

  .col-lg-8 {
    background-color: white;
    position: relative;
    h4 {
      margin: 10px;
      font-weight: bold;
    }
  }


  .machine-bloc-infos {
    display: flex;
    justify-content: space-between;
    background-color: white;
  }

  .description-bloc {
    margin: 10px;
  }

  .photo-bloc {
    margin: 10px;
  }


  .booking-success {
    font-size: 24px;
    color: #2ecc71;
  }

  .booking-info {
    font-size: 18px;
    color: #3498db;
    margin: 0 auto;
    text-align: left;
  }



  .booking-details {
      background-color: #f9f9f9;
      margin: 50px;
      margin-top: 15px;
      margin-bottom: 15px;
      padding: 20px;
      border-radius: 5px;
      position: relative;
      p {
        font-size: 20px;
      }
  }

  .booking-link {
    color: #3498db;
  }

  .back-button {
      position: absolute;
      bottom: 3px;
      right: 3px;
      margin: 30px;
      margin-left: 10px;
      padding: 0px;
      border-radius: 5px;
  }

  .booking-confirmation {
      background-color: #f9f9f9;
      box-shadow: 0 0 15px rgba(0,0,0,0.2);
      margin: 50px;
      padding: 20px;
      border-radius: 5px;
      h4 {
        font-size: 24px;
        font-weight: bold;
        color:#2ecc71
      }
      h5 {
        font-size: 18px;
        color: #3498db;
      }
    }

    .my-bookings {
      background-color: white;
      margin: 50px;
      margin-bottom: 10px;
      padding: 20px;
      border-radius: 5px;
      h4 {
        font-size: 24px;
        font-weight: bold;
        margin: 10px;
      }
    }

    .action-booking {
      background-color: #ffea53;
      color: #fff;
      border: none;
      border-radius: 25px;
      padding: 10px 20px;
      text-decoration: none;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }

    .align-div {
      display: flex;
      align-items: flex-start;
    }

    .title-index {
      background-color: white;
      margin-bottom: 10px;
      margin-top: 10px;
      padding: 20px;
      border-radius: 5px;
      h4 {
        font-size: 24px;
        font-weight: bold;
      }
    }

    .position-absolute .rounded-circle {
      background-color: #ffea53;
    }
