body {
  //padding: 2rem 0rem;
}

.card-img {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  height: 200px;
  object-fit: cover;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card {
 height: 1000;
 // width: 300px;
}

.card-title {
  margin-bottom: 0.3rem;
}

.cat {
  display: inline-block;
 // margin-bottom: 1rem;
}

.fa-users {
  margin-left: 0rem;
}

.yellow-icon {
  color: #ffea53 !important;
}

.card-footer {
  font-size: 0.8rem;
}

.details-btn {
  background-color: #ffea53;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
}

.details-btn:hover {
  background-color: white;
  cursor: pointer;
}

.card-transition {
  transition: transform 0.3s ease;
}

.card-transition:hover {
  transform: scale(1.05);
}
