<h3>The most famous</h3>

<div class="row">
  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="app/assets/images/CB58B01C-9367-487C-BCA6-0BCBFADCD61B_4_5005_c.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The 3 in 1</h5>
        <p class="card-text">To make raclettes but also grills and crests.</p>
        <a href="#" class="btn btn-primary">More infos</a>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="app/assets/images/B8DE9E14-5EA7-4611-B082-324DBB0B36E4_4_5005_c.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"><%=  %></h5>
        <p class="card-text"><%= %></p>
        <a href="#" class="btn btn-primary">More infos</a>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="app/assets/images/2B0D2044-BA63-4BB5-A33A-63E1BB39DC3C_4_5005_c.jpeg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">The duo candlelight</h5>
        <p class="card-text">A cozy and intimate two-person raclette grill accompanied by flickering candles.</p>
        <a href="#" class="btn btn-primary">More infos</a>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
