<div class="container">
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card smaller-card">
        <%= image_tag "CB58B01C-9367-487C-BCA6-0BCBFADCD61B_4_5005_c.png", alt: "machine-1", class: "card-img" %>
        <div class="card-body">
          <h4 class="card-title">The 3 in 1</h4>
          <small class="text-muted cat">
            <i class="fas fa-users text-info-custom"></i> 8 persons
          </small>
          <p class="card-text">To create delicious melted cheese works of art right at your table but also to make grills and pancakes.</p>
          <a href="#" class="btn btn-primary">Details</a>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Oct 22, 8:47PM</div>
          <div class="stats">
            <i class="far fa-eye"></i> 567
            <i class="far fa-comment"></i> 12
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
