<div class="container">
<div class="row">
    <div class="">
      <h2 class="text-center"><strong>Our popular machines</strong></h2>
      <p class="text-center">Here are some of our most popular machines, take a look, we've got you covered.</p>
    </div>
  </div>
  <div class="cards">
    <% @machines.take(5).each do |machine| %>
    <div class="">
      <div class="card card-transition">

        <% if machine.photo.attached? %>
      <%= cl_image_tag machine.photo.key, height: 100, width: 100, crop: :fill, class: "card-img" %>
      <% end %>
        <div class="card-body">
          <h4 class="card-title"><strong><%= machine.name %></strong></h4>
          <small class="text-muted cat">
            <i class="fas fa-users yellow-icon"></i> 8 people
          </small>
          <p class="card-text"><%= machine.description %></p>
          <button name="button" type="submit" class="btn btn-flat details-btn">
            <%= link_to "details", machine_path(machine)%>
          </button>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Jan 23, 8:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1047
            <i class="far fa-comment"></i> 12
          </div>
        </div>

      </div>
    </div>
    <% end %>
  </div>
