<div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 2 -->
      <div class="card card-transition">
        <%= image_tag "B8DE9E14-5EA7-4611-B082-324DBB0B36E4_4_5005_c.png", class: "card-img"%>
        <div class="card-body">
          <h4 class="card-title"><strong>The festive one</strong></h4>
          <small class="text-muted cat">
            <i class="fas fa-users yellow-icon"></i> 10 people
          </small>
          <p class="card-text">Experience the raclette feast with this machine featuring a cooking stone and more all in a sleek black design.</p>
          <button name="button" type="submit" class="btn btn-flat details-btn">
            Details
          </button>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Sep 22, 12:45PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 966
            <i class="far fa-comment"></i> 9
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 3 -->
      <div class="card card-transition">
        <%= image_tag "2B0D2044-BA63-4BB5-A33A-63E1BB39DC3C_4_5005_c.png", class: "card-img" %>
        <div class="card-body">
          <h4 class="card-title"><strong>The duo candle light</strong></h4>
          <small class="text-muted cat">
            <i class="fas fa-users yellow-icon"></i> 2 people
          </small>
          <p class="card-text">The perfect raclette appliance for romantic moments and to share delicious melty moments for two.</p>
          <button name="button" type="submit" class="btn btn-flat details-btn">
            Details
          </button>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Dec 22, 12:10PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 720
            <i class="far fa-comment"></i> 4
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 4 -->
      <div class="card card-transition">
        <%= image_tag "cheesegrill-8600-wood-allstone_1.png-md.png", class: "card-img" %>
        <div class="card-body">
          <h4 class="card-title"><strong>The Cheese&Grill</strong></h4>
          <small class="text-muted cat">
            <i class="fas fa-users yellow-icon"></i> 8 people
          </small>
          <p class="card-text">You will love this machine with its natural design for a convenient and enjoyable raclette experience.</p>
          <button name="button" type="submit" class="btn btn-flat details-btn">
            Details
          </button>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Nov 22, 11:01PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1202
            <i class="far fa-comment"></i> 6
          </div>
        </div>
      </div>
    </div>

    <div class="col-12 col-sm-8 col-md-6 col-lg-6">
      <!-- Card 5 -->
      <div class="card card-transition">
        <%= image_tag "0FDA91B6-F5B8-4CB6-933B-366D6A25D008_4_5005_c.jpeg", class: "card-img" %>
        <div class="card-body">
          <h4 class="card-title"><strong>The ultimate</strong></h4>
          <p class="card-text">Enjoy delicious raclettes or grills in a small gathering with this appliance equipped with 4 non-stick pans.</p>
          <button name="button" type="submit" class="btn btn-flat details-btn">
            Details
          </button>
        </div>
        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
          <div class="views">Fev 23, 11:40PM
          </div>
          <div class="stats">
           	<i class="far fa-eye"></i> 1410
            <i class="far fa-comment"></i> 16
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
